# Arquivos e pastas gerados pelo Quartus
*.rpt
*.summary
*.smsg
*.qws
*.qdf
*.qdb
*.sof
*.pof
*.jdi
*.csv
*.svf
*.ttf
*.html
*.eqn
*.sld
*.qip
*.qxp
*.qmsg
*.qsys
*.qpf
*.bak
*.log
*.tcl
*.hex
*.jtag
*.jbc
*.sdc
*.sopcinfo
*.qws.lock
*.done

*.pin
*.qsf
*.cdf
# Pastas geradas pelo Quartus
db/
incremental_db/